<h1>department works!</h1>
<div style="height:300px;background:red">sadsfgsdfdsfsdf</div>

<div class="content-container">
  <div class="content-area">
    <clr-accordion>
      <clr-accordion-panel>
        <clr-accordion-title>Item 1</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 1</clr-accordion-content>
      </clr-accordion-panel>
    
      <clr-accordion-panel>
        <clr-accordion-title>Item 2</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
      </clr-accordion-panel>
    
      <clr-accordion-panel>
        <clr-accordion-title>Item 3</clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
</div>